:root{
    --tabellenhintergrundfarbe:rgb(252, 252, 252);
    --maincolor:#0094FF;
}

*{
    font-family: "Lora";
}

#tabellenrahmen{
    background-color: var(--tabellenhintergrundfarbe);
    display:grid;
    width:98vw;
    height:100%;
    position: absolute;
    top:100px;
   }
.tabelleninhalt{    
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tabelleninhalttitel{
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tabelleninhalttitel:hover{
    cursor:pointer;
    background-color: grey;
    
}

.tabelleninhalt:hover{  
    cursor:pointer;
}

#suchRahmen{
    background-color: var(--tabellenhintergrundfarbe);
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width:95%;
    height:100%;
    position: absolute;
    top:100px;
}
.suchrahmeninner{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width:400px;
}

.suchrahmeninner:hover{
    cursor:pointer;
    background-color: grey;
}

.sucheinhalt{
    height:24px;
    padding-top: 15px;
}
.sucheinhaltergebnis{
    height:24px;
    padding-bottom: 15px;
}

#kreislinks:hover{
    cursor:pointer;
    content:url("bilder/kreislinks.png");
}
#kreisrechts:hover{
    cursor:pointer;
    content:url("bilder/kreisrechts.png");
}
#kreislinks{
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:10;
}
#kreisrechts{
    
    position:fixed;
    right:0px;
    bottom:0px;
    z-index:10;
}






#menuleiste{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:60px;
    z-index:10;
    background-color: var(--maincolor);
}

#suche{
position: fixed;
top:10px;
width:200px;
left:50%;
font-size: 26px;
}

#user{
    position: fixed;
    top:10px;
    right:10px;
    font-size: 26px;  
}

#logo{
    position: fixed;
    top:10px;
    font-size: 28px;
}

#logo:hover{
    cursor: pointer;
}
#user:hover{
    cursor: pointer;
}

#optionsmenue{
    background-color: white;
    border:2px soldi black;
    position: fixed;
    bottom:0px;
    left:0px;
    height:400px;
    width:100%;
    z-index:7;
    display:none;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size:22px;
    
}

.optionsmenueitem:hover, .optionsmenueitemB:hover{  
    background-color:lightgrey;
    cursor:pointer;
    }

#navigationsmenue{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

#informationsmenue{
    position: absolute;
    top:70px;
    width: 95%;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

#bearbeitenmenue{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top:60px;
    left:0px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    
}
#bearbeitenmenueinner{
    background-color: white;
    height:700px;
    /*border: 5px solid rgb(218, 218, 218);*/
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content:center;
   color:grey;   
}

.bearbeitenmenueinput, .bearbeitenmenuelabel{
    border: 0px;
    font-size: 18px;
    padding-left: 10px;
}

.bearbeitenmenuetitel{
    text-align: center;
    font-size: 30px;
}

.bearbeitenmenuesenden,.bearbeitenmenueabbrechen,.bearbeitenmenueloeschen{
    /*border: 2px solid rgb(218, 218, 218);*/
    border:1px;
    font-size: 18px;
}

.bearbeitenmenuesenden:hover,.bearbeitenmenueabbrechen:hover,.bearbeitenmenueloeschen:hover{
    background-color: rgb(218, 218, 218);
    cursor:pointer;
}

#logindiv{
    background-color: var(--maincolor);
    display: flex;
    padding:0px;
    margin:0px;
    width:98vw;
    height:96vh;
    align-items: center;
    justify-content: center;
    z-index: 16;
}   

#logindivinner{
    background-color: var(--maincolor);
    width:200px;
    height:160px;
    padding-left: 10px;
    z-index: 16;
}

